/* Form container */
.form-container {
    padding-left: 1rem; /* Tailwind px-4 */
    height: 6rem;
    margin-right: 1.6rem;
}

.form-container div {
    position: relative;
}

/* Input field */
.form-container input[type='text'] {
    border: 1px solid #4b5563; /* Tailwind border */
    font-size: 1rem; /* Tailwind text-sm */
    border-radius: 0.375rem; /* Tailwind rounded-lg */
    display: block;
    width: 100%;
    padding: 0.625rem; /* Tailwind p-2.5 */
    background-color: #4b5563; /* Tailwind bg-gray-700 */
    color: #fff; /* Tailwind text-white */
    padding: 0.6rem;
}

.form-container input[type='text']::placeholder {
    color: #cbd5e0; /* Placeholder color */
}

/* Submit button */
.form-container button[type='submit'] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-right: 0.75rem; /* Tailwind pe-3 */
    background: none;
    border: none;
}

/* Optional: Adjust button icon size if needed */
.form-container svg {
    width: 1.5rem; /* Adjust icon size */
    height: 1.5rem; /* Adjust icon size */
    color: white;
    cursor: pointer;
}

